
iOS/bin/*
iOS/obj/*
packages/*

MosquitoTrapCount/packages/*

MosquitoTrapCount.iOSWatchKitExtension/obj/*
MosquitoTrapCount.iOSWatchKitApp/bin/*
MosquitoTrapCount.iOSWatchKitApp/obj/*
MosquitoTrapCount.iOSWatchKitExtension/bin/*

MosquitoTrapCount.iOSWatchKitExtension/bin/iPhoneSimulator/Debug/*
MosquitoTrapCount.userprefs
